<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments :: head" />
</head>
<body>
    <th:block th:insert="fragments :: header" />

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Status</h1>
                <h5 th:text="${#temporals.format(statusJson.time, 'd MMMM yyyy HH:mm')}"></h5>
                <h5 th:text="${'Pump Status: ' + statusJson.pumpStatus}"></h5>
                <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB"> Auto Refresh
            </div>
        </section>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Zone</th>
                    <th scope="col">Last water on</th>
                    <th scope="col">Last water off</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Temp read</th>
                    <th scope="col">Moisture read</th>
                    <th scope="col">Moisture</th>
                    <th scope="col">Moisture monitoring</th>
                    <th scope="col">Temp monitoring</th>
                    <th scope="col">Valve status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="zoneStatus : ${statusJson.zoneStatus}">
                    <td th:text="${zoneStatus.name}"></td>
                    <td th:text="${#temporals.format(zoneStatus.lastWaterStart, 'd MMMM yyyy HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(zoneStatus.lastWaterEnd, 'd MMMM yyyy HH:mm:ss')}"></td>
                    <td th:text="${zoneStatus.temp}"></td>
                    <td th:text="${#temporals.format(zoneStatus.lastTempRead, 'd MMMM yyyy HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(zoneStatus.lastMoistRead, 'd MMMM yyyy HH:mm:ss')}"></td>
                    <td th:text="${zoneStatus.moisture}"></td>
                    <td th:text="${zoneStatus.moistureMon}"></td>
                    <td th:text="${zoneStatus.tempMon}"></td>
                    <td th:text="${zoneStatus.valveStatus}"></td>
                </tr>
            </tbody>
        </table>
        <h3 th:text="${filename}"></h3>
        <p style="height: 15em; overflow: scroll" th:utext="${contents}" />
        <a style="margin-left:20px;" class="btn btn-primary row" href="/logs">Logs</a>
        <a style="margin-left:20px;" class="btn btn-primary row" href="/zones">Zones</a>
        <a style="margin-left:20px;" class="btn btn-primary row" href="/monitor">Monitor</a>
        </div>
    </main>
    <script>
        (function() {
            var reloading;

            function checkReloading() {
                if (window.location.hash=="#autoreload") {
                    reloading=setTimeout("window.location.reload();", 5000);
                    document.getElementById("reloadCB").checked=true;
                }
            }

            window.toggleAutoRefresh = function(cb) {
                if (cb.checked) {
                    window.location.replace("#autoreload");
                    reloading=setTimeout("window.location.reload();", 5000);
                } else {
                    window.location.replace("#");
                    clearTimeout(reloading);
                }
            }

            window.onload=checkReloading;
        }());
    </script>

    <th:block th:insert="fragments :: footer" />
</body>
</html>
